@page "/item/{id}"

@inject IMongoItemData itemData

<h2 class="page-heading">Item Details:</h2>
<div class="element-details">
    @if (item is not null)
    {
        @if (currentEditingName == item.Id)
        {
            <EditForm class="edit-element-details" Model="@editedName" OnSubmit="(() => SaveName(item))">
                Name: <InputText @bind-Value="editedName" size="75" />
                <br/>
                <button class="edit-element-button" type="submit">
                    <span class="oi oi-check"></span>
                </button>
                <button class="edit-element-button" @onclick="(() => currentEditingName = String.Empty)">
                    <span class="oi oi-x"></span>
                </button>
            </EditForm>
        }
        else
        {
            <div>
                Name: @item.ItemName <span class="oi oi-pencil" @onclick="(() => EditName(item))" />
            </div>
        }
        <br />
        @if (currentEditingDescription == item.Id)
        {
            <EditForm class="edit-element-details" Model="@editedDescription" OnSubmit="(() => SaveDescription(item))">
                Description: <br/>
                <InputTextArea @bind-Value="editedDescription" rows="5" cols="75"/>
                <br/>
                <button class="edit-element-button" type="submit">
                    <span class="oi oi-check"></span>
                </button>
                <button class="edit-element-button" @onclick="(() => currentEditingDescription = String.Empty)">
                    <span class="oi oi-x"></span>
                </button>
            </EditForm>
        }
        else
        {
            <div>
                Description: <br /> @item.ItemDescription <span class="oi oi-pencil" @onclick="(() => EditDescription(item))" />
            </div>

        }
        <br />
        @if (currentEditingPrice == item.Id)
        {
            <EditForm class="edit-element-details" Model="@editedPrice" OnSubmit="(() => SavePrice(item))">
                Price: <InputText @bind-Value="editedPrice" size="75"/>
                <br/>
                <button class="edit-element-button" type="submit">
                    <span class="oi oi-check"></span>
                </button>
                <button class="edit-element-button" @onclick="(() => currentEditingPrice = String.Empty)">
                    <span class="oi oi-x"></span>
                </button>
            </EditForm>
        }
        else
        {
            <div>
                Price: @item.Price <span class="oi oi-pencil" @onclick="(() => EditPrice(item))" />
            </div>
        }
        <br />
        @if (currentQuantityInStock == item.Id)
        {
            <EditForm class="edit-element-details" Model="@editedQuantityInStock" OnSubmit="(() => SaveQuantityInStock(item))">
                Quantity In Stock: <InputNumber @bind-Value="editedQuantityInStock" size="75" />
                <br/>
                <button class="edit-element-button" type="submit">
                    <span class="oi oi-check"></span>
                </button>
                <button class="edit-element-button" @onclick="(() => currentQuantityInStock = String.Empty)">
                    <span class="oi oi-x"></span>
                </button>
            </EditForm>
        }
        else
        {
            <div>
                Quantity in Stock: @item.QuantityInStock <span class="oi oi-pencil" @onclick="(() => EditQuantityInStock(item))" />
            </div>
        }

    }
</div>


@code {
    [Parameter]
    public string Id { get; set; }
    private ItemModel item;

    private ItemModel editingModel;
    private string currentEditingName = "";
    private string editedName = "";
    private string currentEditingDescription = "";
    private string editedDescription = "";
    private string currentEditingPrice = "";
    private string editedPrice = "";
    private string currentQuantityInStock = "";
    private int editedQuantityInStock = 0;

    protected override async Task OnInitializedAsync()
    {
        item = await itemData.GetItemAsync(Id);
    }

    private void EditName(ItemModel item)
    {
        editingModel = item;
        editedName = item.ItemName;
        currentEditingName = item.Id;
        currentEditingDescription = "";
        currentEditingPrice = "";
        currentQuantityInStock = "";
    }

    private void EditDescription(ItemModel item)
    {
        editingModel = item;
        editedDescription = item.ItemDescription;
        currentEditingDescription = item.Id;
        currentEditingName = "";
        currentEditingPrice = "";
        currentQuantityInStock = "";
    }

    private void EditPrice(ItemModel item)
    {
        editingModel = item;
        editedPrice = item.Price;
        currentEditingDescription = "";
        currentEditingName = "";
        currentEditingPrice = item.Id;
        currentQuantityInStock = "";
    }

    private void EditQuantityInStock(ItemModel item)
    {
        editingModel = item;
        editedQuantityInStock = item.QuantityInStock;
        currentEditingDescription = "";
        currentEditingName = "";
        currentEditingPrice = "";
        currentQuantityInStock = item.Id;
    }

    private async Task SaveName(ItemModel item)
    {
        currentEditingName = String.Empty;
        item.ItemName = editedName;
        await itemData.UpdateItem(item);
    }

    private async Task SaveDescription(ItemModel item)
    {
        currentEditingDescription = String.Empty;
        item.ItemDescription = editedDescription;
        await itemData.UpdateItem(item);
    }

    private async Task SavePrice(ItemModel item)
    {
        currentEditingPrice = String.Empty;
        item.Price = editedPrice;
        await itemData.UpdateItem(item);
    }

    private async Task SaveQuantityInStock(ItemModel item)
    {
        currentQuantityInStock = "";
        item.QuantityInStock = editedQuantityInStock;
        await itemData.UpdateItem(item);
    }
}

